# Editor temporary/working/backup files #
#########################################
.#*
*\#*\#
[#]*#
*~
*$
*.bak
*flymake*
*.iml
*.kdev4
*.log
*.swp
*.pdb
*.zip
.project
.pydevproject
.settings
.idea
.vagrant
.noseids
.ipynb_checkpoints
.tags
.cache/
.vscode/

# Python files #
################
__pycache__/
# pytest
/.pytest_cache
# egg metadata
*.egg-info
*.eggs
# coverage
.coverage
coverage.xml
coverage_html_report
htmlcov

# Build artifacts #
###################
dist/

# Database files #
##################
test/*.pkl